@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Matter;
  src: url(../../fonts/Matter-Regular.otf);
}

div, p, h1, h2, h3, h4, a {
  color: var(--black, #000);
  font-family: Matter;
  font-style: normal ;
}


.heading {
  font-size: 56px ;
  font-weight: 600 ;
  line-height: 64px ; 
}

.text {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px; 
}

.hero-text {
  line-height: 64px;
  font-weight: 600;
  font-size: 64px;
}


.paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.paragraph-small {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.steps {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px; 
}
.secondary-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; 
}

.p-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-size: 18px;
  font-weight: 400;
  line-height: 96.9%;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}



@media only screen and (min-width: 400px){
  .paragraph {
    font-size: 48px;
    line-height: 64px;
  }
  .paragraph-small {
    font-size: 26px;
    line-height: 48px;
  }
  .text {
    font-size:  48px ;
    line-height: 64px ; 
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size:  96px ;
    line-height: 96px ; 
  }

  .hero-text {
    font-size: 120px;
    line-height: 120px; 
  }

  .paragraph {
    font-size: 48px;
    line-height: 64px;
  }

  .steps {
    font-size: 48px;
    line-height: 56px;
  }
  
}

@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 120px ;
    line-height: 120px ; 
  }

  .hero-text {
    font-size: 160px;
    line-height: 160px; 
  }
  
  .paragraph {
    font-size: 48px;
    line-height: 64px;
  }

  .paragraph-small {
    font-size: 26px;
    line-height: 48px;
  }

  .steps {
    font-size: 48px;
    line-height: 56px;
  }
}









@keyframes LineAnimation {
  from {height: 0%;}
  to {height: 100%;}
}

.animateline {
  animation: 1s ease-in-out LineAnimation;
}
