@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Matter;
  src: url(../../fonts/Matter-Regular.otf);
}


.hero-text {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 160px;
  font-style: normal;
  font-weight: 600;
  line-height: 160px; 
}

.mh1 {  
  color: var(--black, #000);
  font-family: Matter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.secondary-text {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}

.primary-text {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.paragraph {
  font-family: Matter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

h4 {
  font-family: Matter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.p-small {
  color: #000;
  font-family: Matter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


a {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.9%;
}

.h2 {
  font-family: Matter;
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px; /* 100% */
}

.h6 {
  font-family: Matter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}


.p-small {
  font-family: Matter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mp1 {
  color: var(--black, #000);
  /* Mobile/P1 */
  font-family: Matter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}

.mp2 {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.mh4 {
  color: var(--black, #000);
  /* Mobile/H4 */
  font-family: Matter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
}

.mh1 {
  color: var(--black, #000);
  font-family: Matter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}


@keyframes LineAnimation {
  from {height: 0%;}
  to {height: 100%;}
}

.animateline {
  animation: 2s ease-in-out LineAnimation;
}
